
.menu {
  background-color: #13293D;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 900;
}

/* .infoMenu{
} */

.button:hover{
  background-color: #1A2E3F;
}

.hr {
  color: white;
}

/* card de visualizar as rotas */
.cardView {
  background-color: #13293D;
  color: white;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
