
.menu {
  background-color: #13293D;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 900;
}

/* .infoMenu{
} */

.button:hover{
  background-color: #1A2E3F;
}

.hr {
  color: white;
}

