.driverTableContainer {
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 8px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.th,
.td {
  padding: 10px;
  text-align: left;
}

.th {
  background-color: #295878;
  color: white;
}

.td {
  border-bottom: 1px solid #ddd;
}