button:focus,
a:focus,
.accordion-button:focus {
  box-shadow: none !important;
  outline: none !important;
}

.nav-link, .accordion-button {
  transition: background-color 0.2s ease, color 0.3s ease !important;
}

.nav-link:hover, .accordion-button:hover {
  background-color: #495057 !important;
  /* Cor ao passar o mouse */
  color: #ffffff !important;
  /* Cor do texto ao passar o mouse */
}